*{
    /*Everything styled*/
    font-family: Arial, Helvetica, sans-serif;
}

#page-title{
    text-align: center;
}

#main-nav ul{
    display: inline;
    padding: 10px;
}

#main-nav{
    background: darkgray;
    list-style-type: none;
}

#main-text{
    display: flex;
    padding: 4px;
}

#main-content{
    background: lightblue;
    padding: 10px;
    margin: 5px;
}

#sidebar{
    background: lightblue;
    padding: 5px;
    margin: 5px;
}

#columns{
    display: flex;
}

.two-columns{
    /*All effected boxes grow at the same rate*/
    flex: 1;
    background: lightyellow;
    margin: 5px;
}

.nested-columns{
    display: flex;
    padding: 5px;
    background: lightblue;
    margin: 5px;
}

#main-footer{
    background: lightgrey;
    text-align: right;
}

#main-footer h2{
    text-align: center;
}

#pics{
    display: flex;
    display: block;
    margin: auto;
    flex: 1;
}

@media (min-width: 900px){
    #content{
        display:flex;
        flex-direction: column;
    }
}