body {
    font-family:Arial, Helvetica, sans-serif;
    background:slategray;
}

/* Nav Bar */
#main-nav ul {
    list-style-type: none;
    padding-left:0;
}

#main-nav li {
    background:#abc;
    padding:10px;
    margin:2px 0;
}

#main-nav a {
    text-decoration: none;
    color:#000;
    cursor:pointer;
}

/* Nav Bar Toggle */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color:black;
    margin:6px 0;
}
