*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background: #333333;
}

.boxes{
    flex: 1;
    background: #3399FF;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    height: 500px;
}

.boxes h1{
    text-align: center;
}

#draw-bow{
    background: #333333;
    color: #3399FF;
    border: none;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px;
}